/* Fuentes */
$FuentePrincipal: 'Poppins',sans-serif;

/* Paleta de Colores */
$ColorBase: #0A0D0F;
$ColorPrincipal:#8F37FF;
$ColorBlanco: #FFFFFF;
$ColorNegro: #000000;
$ColorGris: #1f262d;
$ColorParrafo: rgba(10, 13, 15, .4);
$ColorAzul:#00a3ff;
$ColorAmarillo: #d1f2a6;
$HoverUno:#1f262d6b;
$HoverDos: #6811d9;
$ColorVerde: #33ac8f;
$ColorLink: rgba(209,215,224,.4);
/* tamaños para mediaquery */
$Telefono: 480px;
$Tablet: 720px;
$Desktop: 1280px;